In [36]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
sv_raw = pd.read_csv("survey.csv")
sv_raw.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [40]:
sv_treat = sv_raw[sv_raw["treatment"] == "Yes"]
sv_treat.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN
10,2014-08-27 11:32:44,31,Male,United States,OH,NaN,No,Yes,Sometimes,6-25,...,Don't know,No,No,Some of them,Yes,No,No,Don't know,No,NaN

In [43]:
##################################
#####Create a Function ###########
##################################
def sv_group(df, Sort_Value, agr_col):

    """ This function creates a groupby by a specific column and returns the sorted df

    df = a dataframe you want to analyse 

    Agr_value = The column that you want to aggregate"""

    sv_count_df = df.groupby(Sort_Value)[agr_col].count().reset_index()
    sv_count_df = sv_count_df.sort_values(agr_col, ascending=False)
    return sv_count_df

In [44]:
sv_work_inter = sv_group(sv_raw,"work_interfere","Country")
print(sv_work_inter)

In [18]:
#Caling the function
sf=input("Enter the category you want to sort by:")
cn=input("Enter the value you wan the mean of:")

best_seller_2(vg_raw, sf, cn)
print("The best selling {} in {} is {}".format(sf, cn, best_seller_2.iloc[0,0]))

           Country  work_interfere
45   United States             607
44  United Kingdom             141
7           Canada              63
17         Germany              33
21         Ireland              23

In [ ]:
################################################
#####People in treatment per country ###########
################################################

sv_count_treat = sv_count(sv_treat,"treatment")
sv_count_treat.head()